.output {
    margin-left: 2%;
    color: #117221;
    font-size: 15px;
  }

  .output:hover {
    opacity: 0.7;
  }

  table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }

  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }

  .messagebox {
    margin-left: 2%;
    margin-top: 3%;
  }