.heading {
    margin-left: 2%;
    margin-top: 3%;
}

.assist-questions {
    margin-left: 2%;
}

.mat-form-field {
    width: 25%;
    margin-top: 2%;
}

.assistBtn {
    width: 25%;
    margin-top: 3%;
    margin-left: 2%;
}